/performance_metrics_all_morgan_vs_neural.png
/significance_plot_morgan_vs_neural.png
/scatter_metrics_morgan_vs_neural.png
/performance_metrics_all_morgan_vs_counted.png
/significance_plot_morgan_vs_counted.png
/scatter_metrics_morgan_vs_counted.png
/performance_metrics_all_counted_vs_neural.png
/significance_plot_counted_vs_neural.png
/scatter_metrics_counted_vs_neural.png
/balanced_accuracy_scatter_counted_binary_fp.png
/brier_score_scatter_counted_binary_fp.png
